.theme-toggle {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.theme-toggle.light {
  background-color: #ffffff;
  color: #000000;
}

.theme-toggle.dark {
  background-color: #282c34;
  color: #ffffff;
}